html,
body {
    margin: 0;
    padding: 0;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

.slider p {
    z-index: 10000;
    font-size: 42px;
    float: left;
    font-family: Nanum Gothic;
    text-align: center;
    position: absolute;
    width: 600px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 10px;
    top: 350px;
    animation: slidy 9s infinite;
}

.slider {
    overflow: hidden;
    height: 600px;
    clip-path: polygon(0 0, 1600px 0, 1600px 77%, 0 100%);
}

.slider figure div {
    float: left;
    width: 20%;
}

.slider figure img {
    width: 100%;
    height: 600px;
    float: left;
}

.slider figure {
    position: relative;
    margin: 0;
    left: 0;
    animation: slide 50s infinite;
    width: 500%;
}

@keyframes slide {
    0% {
        left: 0%;
    }
    10% {
        left: 0%;
    }
    12% {
        left: -100%;
    }
    22% {
        left: -100%;
    }
    24% {
        left: -200%;
    }
    34% {
        left: -200%;
    }
    36% {
        left: -300%;
    }
    46% {
        left: -300%;
    }
    48% {
        left: -400%;
    }
    58% {
        left: -400%;
    }
    60% {
        left: -300%;
    }
    70% {
        left: -300%;
    }
    72% {
        left: -200%;
    }
    82% {
        left: -200%;
    }
    84% {
        left: -100%;
    }
    94% {
        left: -100%;
    }
    96% {
        left: 0%;
    }
    100% {
        left: 0%;
    }
}

@keyframes slidy {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.team {
    margin: auto;
    width: auto;
}
.team-1 {
    width: 500px;
    height: 500px;
    margin: 0 20px 20px;
    float: left;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.6);
}
.team-1 p
{
    z-index: 10000;
    font-size: 42px;
    float: left;
    text-transform: uppercase;
    font-family: lobster;
    
    position: relative;
    left: 77px;
    top: 383px;
    text-shadow: rgb(34, 34, 34) 1px 0 10px;
}
.image {
    display: block;
    width: 100%;
    height: 400px;
    position: relative;
    top: -132px;
}

.overlay {
    position: relative;
    top: -533px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s;
    background: rgba(0, 0, 0, 0.6);
}

.team-1:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 4px 1px;
    transition: all 1s;
  }
  
  .fa:hover {
    transform: rotate(360deg);
    border-radius: 50%;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }